name: C++ CI

on: [push]

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest
    
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: run cmake
      run: mkdir build cd build && cmake ..
    - name: build
      run: cmake --build build
    - name: test
      run: cd build && ./unit_test
